h1 {
  color: darkblue;
  text-align: center;
  font-size: 30px;
}
p {
  font-size: 18px;
  color: darkred;
}
li {
  text-align: left;
color: darkpurple;
font-size: 18px;
}
body {
  background-color: lightgreen;
}
